<div class="menu" id="menu" [style.left]="left" [style.top]="top">
	<ul class="menu-options">
		<li (click)="destroyThisComponent()" class="menu-option">
			Option 1
		</li>
		<li (click)="destroyThisComponent()" class="menu-option">
			Option 2
		</li>
		<li (click)="destroyThisComponent()" class="menu-option">
			Option 3
		</li>
		<li (click)="destroyThisComponent()" class="menu-option">
			Option 4
		</li>
		<li (click)="destroyThisComponent()" class="menu-option">
			Option 5
		</li>
	</ul>
</div>